#signup-page {
    .rowText {
        svg {
            margin-right: 10px;
            font-size: 24px;
            color: dodgerblue;
        }
    }

    .title-right {
        display: none;
    }
}

@media (max-width: 992px) {
    #signup-page {
        .left {
            display: none;
        }

        .title-right {
            display: block;
        }
    }
}