.login-form {
    background-color: #fff;
    padding: 40px 20px;
    width: 100%;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.125);
    border-radius: 7px;

    .ant-form-item {
        margin-bottom: 18px;
    }

    .login-form-button {
        width: 100%;
    }
}